# Environment variables for the application. Copy this file to .env and fill in the appropriate values.
NODE_ENV=development
PORT=3000


# PostgreSQL variables
POSTGRES_USER=eshelf
POSTGRES_PASSWORD=hardpassword
POSTGRES_DB=eshelf_db

# MinIO variables
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=hardpassword
# MINIO_SERVER_URL=http://minio.local

# PostgreSQL connection string
# Format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL=postgresql://eshelf:hardpassword@localhost:5432/eshelf_db

#JWT secret key
JWT_SECRET=your_jwt_secret_here
